@tailwind base;
@tailwind components;
@tailwind utilities;

.no-arrow-scrollbar::-webkit-scrollbar-track {
    @apply bg-gray-500 dark:bg-gray-50;
}

.no-arrow-scrollbar::-webkit-scrollbar {
    width: 5px;
}

/** MAX LINE TEXT */
.max-lines-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    max-height: 1 * 1.5em;
  }
  
  .max-lines-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    max-height: 2 * 1.5em;
  }
  
  .max-lines-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    max-height: 3 * 1.5em;
  }
  
  .max-lines-4 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    max-height: 4 * 1.5em;
  }
  
  .max-lines-5 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    max-height: 5 * 1.5em;
  }

  .ProseMirror:focus {
    outline: none;
  }
  .ProseMirror {
    min-height: 100%;
  }
  .prose ul {
    list-style-type: disc;
    padding-left: 1.25rem;
  }
  .prose ol {
    list-style-type: decimal;
    padding-left: 1.25rem;
  }
  .prose p + p {
    margin-top: 1.25rem; /* 20px */
  }

  .circle-loader {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: 
      radial-gradient(farthest-side,#F9CF0C 94%,#0000) top/8px 8px no-repeat,
      conic-gradient(#0000 30%,#F9CF0C);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 8px),#000 0);
    animation:s3 1s infinite linear;
  }
  
  @keyframes s3{ 
    100%{transform: rotate(1turn)}
  }